/* //////////////////////////////////////////////////////////////// */
/*                        GLOBAL CLASSES
/* //////////////////////////////////////////////////////////////// */

.entry-headline {
  text-align: center;
  margin-top: 2em;
  padding-top: 2em;
}
.entry-headline span {
  animation-name: entry;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: var(--color-purple);
  padding: 1em;
  color: white;
  position: relative;
  z-index: 10;
}
.purple-span-text-element {
  position: relative;
}
.purple-span-text-element::after {
  position: absolute;
  content: "";
  top: 40%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--after-color-purple);
  height: 1rem;
  margin: 0 auto;
  z-index: -10;
}

.main-text-inside-p {
  text-align: center;
  font-size: 1.1rem;
  max-width: 1000px;
  margin: 4em auto;
  word-spacing: 0.4em;
  padding: 0 5em;
}
.inline-block {
  display: inline-block;
}
.bold-puprle {
  display: block;
  font-weight: 800;
  color: var(--color-purple);
}

/* //////////////////////////////////////////////////////////////// */
/*                        GENERAL CLASSES */
/* //////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////// */
/*                        LOGO & ENTRY H1 */
/* //////////////////////////////////////////////////////////////// */
.main-section-container_entry {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}
.main-section-container_entry-cv_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-purple);
  color: white;
  max-width: 60%;
  min-width: 200px;
  margin: 1em auto;
}
@keyframes download-cv {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  50% {
    transform: scale(1.1) rotateZ(5deg);
  }
  100% {
    transform: scale(1);
  }
}
.main-section-container_entry-cv_div:hover {
  animation: download-cv 0.5s ease-in-out;
  cursor: pointer;
}
.main-section-container_logo {
  width: 90%;
  display: flex;
  margin-left: 2rem;
  position: relative;
}
.cv-download-logo {
  max-width: 45px;
  /* margin-left: 20px; */
  filter: invert(100%);
}
.cv-a {
  text-decoration: none;
  color: white;
  width: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv-a:focus {
  text-decoration: none;
}
/* /// KEYFRAME IMG /// */
@keyframes img-border {
  0% {
    border-radius: 60% 50% 70% 50%;
  }
  25% {
    border-radius: 70% 55% 65% 60%;
  }
  50% {
    border-radius: 50% 60% 55% 55%;
  }
  75% {
    border-radius: 66% 65% 60% 55%;
  }
  100% {
    border-radius: 60% 50% 70% 50%;
  }
}
.MyPhoto-img {
  border-radius: 66% 45% 70% 55%;
  width: 300px;
  background-color: var(--color-purple);
  animation-name: img-border;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  grid-column: 2/2;
}

.main-section-container_entry-text {
  width: 400px;
  text-align: center;
  margin: auto 3rem;
}

/* /// FRONT-END-DEVELOPER keyframe  */
@keyframes front-end-text {
  0% {
    border-radius: 66% 65% 70% 55%;
  }
  25% {
    border-radius: 55% 60% 60% 60%;
  }
  50% {
    border-radius: 70% 55% 65% 60%;
  }
  75% {
    border-radius: 60% 50% 70% 50%;
  }
  100% {
    border-radius: 66% 65% 70% 55%;
  }
}

.main-section-container_front-end-text {
  background-color: var(--color-purple);
  color: white;
  padding: 1em;
  animation-name: front-end-text;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  white-space: nowrap;
}
/* //////////////////////////////////////////////////////////////// */
/*                        LOGO & ENTRY H1 */
/* //////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////// */
/*                        ABOUT ME SECTION
/* //////////////////////////////////////////////////////////////// */

@keyframes entry {
  0% {
    border-radius: 66% 65% 70% 55%;
  }
  25% {
    border-radius: 55% 60% 60% 60%;
  }
  50% {
    border-radius: 70% 55% 65% 60%;
  }
  75% {
    border-radius: 60% 50% 70% 50%;
  }
  100% {
    border-radius: 66% 65% 70% 55%;
  }
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* //////////////////////////////////////////////////////////////// */
/* /*                        ABOUT ME SECTION  */
/* //////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////// */
/*                        EXPERIENCE SECTION
/* //////////////////////////////////////////////////////////////// */
#href-about {
  display: grid;
  place-items: center;
}
.experience-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* //////////////////////////////////////////////////////////////// */
/* /*                        EXPERIENCE SECTION  */
/* //////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////// */
/*                        PROJECTS SECTION
/* //////////////////////////////////////////////////////////////// */
#href-projects {
  margin: 30vh 0 50vh 0;
}
.projects-container-for-div {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  margin-top: 10em;
  place-items: center;
}
.project-contaier-for-div_project-img {
  position: relative;
}
.project-img {
  width: 20rem;
  height: 20rem;
  filter: grayscale(100%) drop-shadow(1px 0px 20px var(--color-purple));
  border-radius: 1em;
}

.grid_right {
  grid-row: 1;
}
.p-project {
  max-width: 75%;
  text-align: center;
  position: relative;
}
.technologies-div {
  position: absolute;
  bottom: -20px;
  right: 20px;
}
.technology-img {
  max-width: 40px;
  padding: 0 2px;
}
.link-to-project {
  font-weight: 600;
  position: absolute;
  right: 0;
}

.link-to-project a {
  text-decoration: none;
  color: black;
}
.link-to-project_left {
  font-weight: 600;
  position: absolute;
}
.link-to-project_left a {
  text-decoration: none;
  color: black;
}
/* //////////////////////////////////////////////////////////////// */
/* /*                        PROJECTS SECTION */
/* //////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////// */
/*                        SKILLS SECTION
/* //////////////////////////////////////////////////////////////// */

@keyframes animation-big-pinion {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animation-small-pinion {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#href-skills {
  min-height: 100vh;
}

.skills-img {
  max-width: 7rem;
  padding: 2em;
  filter: grayscale(100%);
  transition: filter 0.2s ease-in-out;
}
.skills-img:hover {
  filter: grayscale(0%) contrast(140%);
  cursor: pointer;
}
.div-skills-set {
  display: flex;
  margin: 10rem auto 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 80%;
}
.big-pinion {
  max-width: 40px;
}
.small-pinion {
  max-width: 90px;
}

.div-skills-set-main_div {
  position: relative;
}
.div-skills-set-big-pinion {
  position: absolute;
  bottom: 0px;
  right: 15px;
  animation-name: animation-big-pinion;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 45%;
}
.div-skills-set-small-pinion {
  position: absolute;
  bottom: -30px;
  right: -38px;
  animation-name: animation-small-pinion;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 46%;
}

.div-skills-set-check-mark {
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.check-mark {
  max-width: 40px;
}

/* //////////////////////////////////////////////////////////////// */
/* /*                        SKILLS SECTION */
/* //////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////// */
/*                        CONTACT SECTION 
/* //////////////////////////////////////////////////////////////// */
#href-contact {
  margin-top: 30vh;
  min-height: 80vh;
}

/* //////////////////////////////////////////////////////////////// */
/* /*                        CONTACT SECTION  */
/* //////////////////////////////////////////////////////////////// */
.contact-container {
  width: 100%;
}

form {
  display: grid;
  max-width: 500px;
  border-radius: 1em;
  padding: 1em;
  background-color: var(--color-purple);
  color: white;
  margin: auto;
}
form * {
  font-family: var(--font-family);
}
form label {
  margin-bottom: 0.5em;
  max-width: 100%;
}
form input {
  max-width: calc(100% - 1em);
  padding: 0.5em;
  border-radius: 0.4em;
  border: none;
  position: relative;
}
form textarea {
  max-width: calc(100% - 1em);
  resize: none;
  padding: 0.5em;
  border-radius: 0.4em;
  border: none;
}
form button {
  padding: 0.7em 1em;
  width: 200px;
  margin-top: 2em;
  border-radius: 2em;
  border: none;
  font-weight: 600;
  margin-left: calc(100% - (200px + 0.1em));
  word-wrap: break-word;
}
form button:hover {
  cursor: pointer;
  background-color: rgba(211, 194, 247, 0.5);
  color: white;
}
form input:focus,
form textarea:focus {
  outline: none;
}
.button-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
  background-color: var(--color-purple);
  border-radius: 50%;
  padding: 0.2em 0.4em;
}
@keyframes button-on-top {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.button-to-top:hover {
  cursor: pointer;
  animation: button-on-top 0.4s ease-in-out infinite;
}
.arrow-top {
  max-width: 40px;
  border-radius: 1em;
  filter: invert(100%);
  padding: 0.5em;
  margin: 0;
}

@media (max-width: 769px) {
  .main-section-container_entry {
    display: flex;
    justify-content: center;
  }
  .main-section-container_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
}
@media (max-width: 1050px) {
  .projects-container-for-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
